---
---

// NOTE: Syntax highlighting @import is at the bottom of this file

// Font
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic');

// Base
@import "reset";
@import "open-color";
@import "variables";
@import "base";
@import "layout";
@import "cards";
@import "list";

// Animation
@keyframes onload {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

* {
    transition: color 0.25s ease-in-out, border 0.25s ease-in-out;
}

*:hover {
    transition: color 0.25s ease-in-out, border 0.25s ease-in-out;
}

figcaption {
  margin-top: 1rem;
  text-align: center;
  font-style: italic;
  color: #999;
}

// Hiding ghostery-box
// Sorry :)

#ghostery-box {
    display: none !important;
}
#ghostery-purple-box {
    display: none !important;
}

table{
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #616D84;
    border-collapse:collapse;
}

tr{
    border: 1px solid #616D84;
    &:nth-child(even){
        background-color:rgba(0,0,0,0.015);
    }
    &:hover {
        background-color:rgba(0,0,0,0.1);
    }
}

td {
    border: 1px solid $table-border-color;
    padding: .25rem .5rem;
    padding-left:2%;
    vertical-align:middle;
    text-align: center;
}

th {
    padding: 0.6em 1em 0.6em 5px;
    border: 1px solid #616D84;
    vertical-align:top;
    text-align: center;
    color: white;
    background: #616D84;
}

// Footnote
a.footnote {
    &,
    .post p &,
    .post ol &,
    .post ul & {
        margin: 0 3px;
        padding: 0 2px;
        font-size: $small-font-size;
        text-align: center;
        border: 1px solid $footnote-link-border-color;
        border-radius: 2px;
        -webkit-text-stroke: 0.25px;
        text-decoration: none;

        &:hover {
            background: $footnote-link-background-over-color;
        }
    }
}

.footnotes {
    border-top: 1px solid $divider-color;
    font-size: $small-font-size;
}


// Fixes images in popup boxes from Google Translate
.gmnoprint img {
    max-width: none;
}

/*
.wrapper-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/

// SCROLL BUTTON

.scroll-wrapper {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 99;

}

.btn-scroll {
    padding: 0;
    pointer-events: auto;
    border: none;
    border-radius: 50%;
   -webkit-user-drag: none;
    background-color: $background-color;
    cursor: pointer;
    height: 40px;
    width: 40px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.btn-scroll-icon {
    display: block;
    margin: 8px auto auto 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    height: 24px;
    width: 24px;
    left: 0;
    position: absolute;
    top: 0;
   -webkit-user-drag: none;
   -webkit-user-select: none
}


// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

// Alignment
.center {
    text-align: center;

    &-image {
        margin: 0 auto;
        display: block;
    }
}

.right {
    text-align: right
}

#quicksearch {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 7.5px;
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 0;
}

::selection {
  background: #444;
  color: white;
}

::-moz-selection {
  background: #444;
  color: white;
}

::-webkit-selection {
  background: #444;
  color: white;
}

::placeholder {
  font-family: $base-font;
}

:-ms-input-placeholder {
  font-family: $base-font;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start

@import "highlights";
