<div class="card">
    {% if include.image %}
    {% if include.link %}<a href="{{ include.link }}" target="_blank">{% endif %}
        <img src="{{ include.image }}" alt="{{ include.title | xml_escape }}">
        {% if include.link %}</a>{% endif %}
    {% endif %}

    <div class="padding">
	
        {% if include.categories %}
        <div class="tags">
            {% include categories.html categories=include.categories %}
        </div>
        {% endif %}
	
		
        {% if include.tag and include.title %}
			<{{ include.tag }} class="title">
				{% if include.link %}<a href="{{ include.link }}">{% endif %}
					{{ include.title }}
					{% if include.link %}</a>{% endif %}
			</{{ include.tag }}>
        {% endif %}
		
        {% if include.description %}
        <p>{{ include.description }}</p>
        {% endif %}
		
        {% if include.code %}
        <div class="tags">
            <a href="{{ include.code }}" class="read-more">
			  <div class="card-btn">
				<svg version="1.1" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"> <path d="m256 0c-215.03 0-256 40.55-256 256 0 216.51 40.278 256 256 256 215.85 0 256-40.15 256-256 0-215.45-39.28-256-256-256zm94.029 117.5c2.9281 0.02281 5.9372 2.1702 6.1465 5.4629 16.657 51.63 33.767 103.14 50.143 154.84 1.363 7.5208-5.8054 12.245-11.236 15.688-46.364 33.69-92.728 67.382-139.09 101.07-49.031-35.771-98.355-71.182-147.2-107.18-2.9256-2.9734-3.9888-7.5562-2.668-11.514h-0.00976c16.988-51.891 33.54-103.97 50.799-155.74 2.7541-4.7909 10.488-2.5399 10.818 2.8301 10.951 33.698 21.902 67.396 32.854 101.09h110.85c11.419-34.666 22.267-69.579 34.039-104.09 1.076-1.7278 2.8037-2.4785 4.5606-2.4648z" /> </svg>
			  Код на GitLab
			  </div>
			</a>
        </div>
        {% endif %}
		
		
    </div>
</div>
