{% include svg-icons.html %}

<p>
  Theme <a href="https://github.com/FromEndWorld/LOFFER" style="color: #bbb">LOFFER</a> by FromEndWorld. Mod by Ethicist. <br>
  Copyright (c) 2020 Ethicsit | <a href="https://choosealicense.com/licenses/mit/" style="color: #bbb">MIT License</a>
</p>
