<head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }} | {{ site.description }}</title>
    <meta charset="utf-8">
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    {% if page.excerpt %}
		<meta name="description" content="{{ page.excerpt| strip_html }}" />
		<meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
		<meta name="description" content="{{ site.description }}">
		<meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="google-site-verification" content="EdmhxRwPD0rUCByKMOo2JudsYLSidSJ_DTQuPEJlnXA" />
    <meta name="author" content="{{ site.name }}" />
    <meta name="yandex-verification" content="11c7363927201f8f" />
    {% if page.title %}
		<meta property="og:title" content="{{ page.title }}" />
		<meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}
	
	  {% feed_meta %}
	 	
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="194x194" href="/assets/icons/favicon-194x194.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/icons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/icons/site.webmanifest">
    <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#444444">
    <link rel="shortcut icon" href="/assets/icons/favicon.ico">
	
    <meta name="apple-mobile-web-app-title" content="Ethicist">
    <meta name="application-name" content="Ethicist">
    <meta name="msapplication-TileColor" content="#eeeeee">
    <meta name="msapplication-TileImage" content="/assets/icons/mstile-144x144.png">
    <meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
    <meta name="theme-color" content="#f5f5f5">
    <link rel="manifest" href="/assets/icons/manifest.json">
	
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="shortcut icon" href="{{ site.favicon }}">

    <!-- Check to see if we are in a page. -->
    {% if page.title %}
        {% if page.jsonld %}
            {% include {{page.jsonld}}.html %}
        {% else %}
            {% include postJSONLD.html %}
        {% endif %}
    {% else %}
        {% include homeJSONLD.html %}
    {% endif %}  
</head>
