{% if include.url %}
<figure>
	<img src="{{ include.url | prepend: '/assets/img/' }}"
		alt="{% if include.alt %}{{ include.alt | xml_escape }}{% else %}{{ include.caption | xml_escape }}{% endif %}"
		{% if include.width %}width="{{ include.width }}"{% endif %}
		{% if include.height %}height="{{ include.height }}"{% endif %}
		{% if include.pixelart %}class="pixel-art"{% endif %}>

	{% if include.caption %}
		<figcaption>{{ include.caption }}</figcaption>
	{% endif %}
</figure>
{% endif %}

{% if page.image.pixelart %}
<style>
    img.pixel-art {
      -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -webkit-crisp-edges;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-crisp-edges;
      image-rendering: pixelated;
    }
</style>
{% endif %}