{% if include.url %}
<center>
	<figure>
		<iframe
			{% if include.width %}
				width="{{ include.width }}"
			{% else %}
				style="width: 100%"
			{% endif %}
			height="{{ include.height }}"
			sandbox="allow-scripts allow-same-origin"
			frameborder="0"
			src="{{ include.url }}"></iframe>

		{% if include.caption %}
			<figcaption>{{ include.caption }}</figcaption>
		{% endif %}
	</figure>
</center>
{% endif %}