<div class="wrapper-sidebar">
    <header class="sidebar clearfix">
        <div class="site-info">
            <a href="{{ site.baseurl }}/"><div class="site-avatar"></div></a>

            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
        </div>
    </header>

    <div class="navlist">
        <nav>
            {% for link in site.navigation %}
            {% assign url = page.url|remove:'index.html' %}
            <a href="{{ site.baseurl }}{{ link.url }}" {% if url == link.url %} class="active" {% endif %}>{{ link.name }}</a>
            {% endfor %}
        </nav>
    </div>

    <div class="wrapper-footer-desktop">
        <footer class="footer">
            {% include footer.html %}
        </footer>
    </div>
</div>