<h1 class="muted">Смотрите также: </h1>

<div class="cards cards_suggestions">
  {% assign maxRelated = 4 %}
  {% assign minCommonTags =  1 %}
  {% assign maxRelatedCounter = 0 %}
  {% assign postsTitles = '' %}

  {% for post in site.posts %}

    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for tag in post.tags %}
      {% if post.url != page.url %}
        {% if page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %}{{ tag }}{% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}
        {% assign postsTitles = postsTitles | append: post.title %}

        {% include card.html
            tag="h4"
            link=post.url
            title=post.title
		%}

      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if maxRelatedCounter < maxRelated %}
    {% assign limitCounter = maxRelated | minus: maxRelatedCounter %}

    {% for post in site.related_posts | limit: limitCounter %}
      {% unless postsTitles contains post.title %}
        {% include card.html
            tag="h4"
            link=post.url
            title=post.title
		%}
      {% endunless %}
    {% endfor %}
  {% endif %}
</div>