<script type="text/javascript" >
window.onscroll = function() {
    if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
        document.getElementsByClassName("btn-scroll")[0].style.opacity = "1";
    } else {
        document.getElementsByClassName("btn-scroll")[0].style.opacity = "0";
    }
};
</script>

<script type="text/javascript" >
	  window.onload = function() {
	      document.getElementsByClassName('site-avatar')[0].style.background = "url('https://thisartworkdoesnotexist.com/')";
	  }
</script>