<!-- Refer to https://codepen.io/ruandre/pen/howFi -->
<ul class="svg-icon">

    {% if site.footer-links.vk %}
    <li><a href="http://vk.com/{{ site.footer-links.vk }}" class="icon-23 vk" title="VK">
		<svg version="1.1" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
		 <path d="m256 0c-215.45 0-256 39.28-256 256 0 215.03 40.55 256 256 256 216.51 0 256-40.278 256-256 0-215.85-40.15-256-256-256zm-12.9 161.79c2.1207 0.00293 4.2914 0.01992 6.5039 0.04492 13.8 0.1 17.801 1.0008 23.201 2.3008 16.3 4 10.799 19.1 10.799 55.5 0 11.7-2.0992 28 6.3008 33.5 3.7 2.3 12.5 0.39882 34.6-37.201 10.5-17.8 18.4-38.699 18.4-38.699s1.7004-3.7008 4.4004-5.3008 6.3984-1.0996 6.3984-1.0996l49.701-0.30078s14.899-1.7996 17.299 4.9004c2.5 7.1-5.5984 23.6-25.898 50.6-33.3 44.4-37 40.3-9.4004 65.9 26.4 24.5 31.899 36.4 32.799 37.9 11 18.2-12.1 19.6-12.1 19.6l-44.1 0.59961s-9.5 1.9008-22-6.6992c-16.5-11.3-32.099-40.8-44.199-36.9-12.3 3.9-11.9 30.4-11.9 30.4s0.09883 5.6992-2.7012 8.6992c-3 3.2-9 3.9004-9 3.9004h-19.699s-43.6 2.6008-82-37.199c-41.9-43.6-78.801-130-78.801-130 0-1e-5 -2.0988-5.7004 0.20117-8.4004 2.6-3.1 9.6992-3.3008 9.6992-3.3008l47.201-0.29882c0-1e-5 4.3996 0.7996 7.5996 3.0996 2.6 1.9 4.0996 5.5 4.0996 5.5s7.5992 19.299 17.699 36.699c19.7 34.1 28.902 41.6 35.602 37.9 9.7-5.4 6.7988-48.199 6.7988-48.199s0.1996-15.6-4.9004-22.5c-4-5.4-11.399-7.0004-14.699-7.4004-2.6-0.4 1.8004-6.5008 7.4004-9.3008 7.4375-3.5875 19.85-4.2646 34.695-4.2441z"/>
		</svg>
            <!--[if lt IE 9]><em>VK</em><![endif]--></a></li>
    {% endif %}
	
    {% if site.footer-links.telegram %}
    <li><a href="https://t.me/{{ site.footer-links.telegram }}" class="icon-8 telegram" title="Telegram">
	<svg version="1.1" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
	 <path d="m256 0c-215.45 0-256 39.28-256 256 0 215.03 40.55 256 256 256 216.51 0 256-40.278 256-256 0-215.85-40.15-256-256-256zm131.85 133.13c8.4155-0.20434 15.587 7.5289 13.646 16.473l-45.5 217.8c-2.1 10.2-14.1 14.8-22.5 8.5996l-68.801-50.5-35.1 35.801c-6.1 6.3-16.8 3.7984-19.4-4.6016l-25.299-80.299-67.801-20c-8.9-2.6-9.3988-15-0.79883-18.4l266.8-103.9c1.5938-0.625 3.1955-0.93482 4.7539-0.97266zm-40.121 43.533c-0.58865-0.04475-1.2133 0.0832-1.832 0.43945l-146.3 90.801c-2.6 1.6-3.8004 4.6996-2.9004 7.5996l19.602 63.301c0.4 1.4 2.3 1.1988 2.5-0.20117l4.7988-42.4c0.2-1.6 1.0012-3.0992 2.2012-4.1992l123.9-109.6c2.4375-2.1125 0.58401-5.5463-1.9668-5.7402z"/>
	</svg>
    <!--[if lt IE 9]><em>Telegram</em><![endif]--></a></li>
    {% endif %}
	
    {% if site.footer-links.gitlab %}
    <li><a href="https://gitlab.com/{{ site.footer-links.gitlab }}" class="icon-13 gitlab" title="GitLab">
            <svg version="1.1" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                <path d="m256 0c-215.03 0-256 40.55-256 256 0 216.51 40.278 256 256 256 215.85 0 256-40.15 256-256 0-215.45-39.28-256-256-256zm94.029 117.5c2.9281 0.02281 5.9372 2.1702 6.1465 5.4629 16.657 51.63 33.767 103.14 50.143 154.84 1.363 7.5208-5.8054 12.245-11.236 15.688-46.364 33.69-92.728 67.382-139.09 101.07-49.031-35.771-98.355-71.182-147.2-107.18-2.9256-2.9734-3.9888-7.5562-2.668-11.514h-0.00976c16.988-51.891 33.54-103.97 50.799-155.74 2.7541-4.7909 10.488-2.5399 10.818 2.8301 10.951 33.698 21.902 67.396 32.854 101.09h110.85c11.419-34.666 22.267-69.579 34.039-104.09 1.076-1.7278 2.8037-2.4785 4.5606-2.4648z" />
            </svg>
            <!--[if lt IE 9]><em>GitLab</em><![endif]--></a></li>
    {% endif %}

    {% if site.footer-links.codepen %}
    <li><a href="https://codepen.io/{{ site.footer-links.codepen }}" class="icon-1 codepen" title="Codepen">
	<svg version="1.1" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
 <path d="m256.7-1.3926c-215.45 0-256 39.28-256 256 0 215.03 40.55 256 256 256 216.51 0 256-40.278 256-256 0-215.85-40.15-256-256-256zm-0.67774 93.553c2.6488 0.003413 5.2925 0.7951 7.8457 2.3652l149.76 99.848c3.8366 2.5532 6.2129 7.1273 6.2129 11.701v99.832c0 4.5739-2.3763 9.148-6.2129 11.701l-149.76 99.861c-5.161 3.1812-10.624 3.1403-15.73 0l-149.76-99.861c-3.8366-2.5532-6.2129-7.1273-6.2129-11.701v-99.832c0-4.5739 2.3763-9.148 6.2129-11.701l149.76-99.848c2.5805-1.5838 5.236-2.3686 7.8848-2.3652zm-14.096 40.404-110.27 73.51 49.193 32.918 61.072-40.783v-65.645zm28.152 0v65.645l61.072 40.783 49.193-32.918-110.27-73.51zm-14.076 90.139-49.738 33.287 49.738 33.287 49.738-33.287-49.738-33.287zm135.69 9.6953-35.295 23.592 35.295 23.58v-47.172zm-271.36 0.01367v0.01367 47.172l35.295-23.594-35.295-23.592zm60.525 40.59-49.193 32.918 110.27 73.51v-65.645l-61.072-40.783zm150.3 0-61.072 40.783v65.645l110.27-73.51-49.193-32.918z"/>
</svg>
</a></li>
    {% endif %}
	
    {% if site.footer-links.rss %}
    <li><a href="{{ site.baseurl }}/feed.xml" class="icon-21 rss" title="RSS"><svg version="1.1" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m256 0c-215.03 0-256 40.55-256 256 0 216.51 40.278 256 256 256 215.85 0 256-40.15 256-256 0-215.45-39.28-256-256-256zm-134.87 101c79.922 0.036 152.29 32.55 204.82 85.08 52.512 52.55 85.005 124.98 85.045 204.92h-55.51c-0.088-129.35-105.13-234.56-234.36-234.65v-55.35zm-0.10156 98.611c52.747 0.03053 100.51 21.487 135.18 56.17 34.667 34.692 56.104 82.471 56.15 135.22h-55.602v-0.10156h-0.01954c-0.057-36.275-14.197-70.518-39.779-96.062-25.588-25.626-59.78-39.827-95.93-39.85v-55.375zm41.686 107.67c23.084 0 41.799 18.715 41.799 41.799 0 23.085-18.715 41.799-41.799 41.799s-41.797-18.715-41.797-41.799 18.713-41.799 41.797-41.799z"/>
</svg>
            <!--[if lt IE 9]><em>RSS</em><![endif]--></a></li>
    {% endif %}
	
    {% if site.footer-links.email %}
    <li><a href="mailto:{{ site.footer-links.email }}" class="icon-8 email" title="Email">
	<svg version="1.1" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
 <path d="m256.7-1.3926c-215.45 0-256 39.28-256 256 0 215.03 40.55 256 256 256 216.51 0 256-40.278 256-256 0-215.85-40.15-256-256-256zm-120.51 146.8h239.62c15.264 0 27.646 12.384 27.646 27.648v10.943c0 4.2624-1.958 8.2947-5.2988 10.887-17.626 13.824-23.442 18.662-99.877 74.131-9.6768 7.0272-28.916 24.076-42.279 23.846-13.363 0.2304-32.602-16.818-42.279-23.846-76.435-55.469-82.251-60.364-99.877-74.131-3.3408-2.6496-5.2988-6.6243-5.2988-10.887v-10.943c0-15.264 12.382-27.648 27.646-27.648zm263.97 72.305c1.7169 0.10271 3.2949 1.499 3.2949 3.4394v117.79c0 15.264-12.382 27.648-27.646 27.648h-239.62c-15.264 0-27.646-12.384-27.646-27.648v-117.73c0-2.88 3.2819-4.4926 5.5859-2.707 12.902 10.022 30.01 22.752 88.762 65.434 12.154 8.8704 32.659 27.533 53.107 27.418 20.563 0.1728 41.471-18.893 53.164-27.418 58.752-42.682 75.803-55.468 88.705-65.49 0.702-0.558 1.5106-0.77911 2.291-0.73242z"/>
</svg>
            <!--[if lt IE 9]><em>Email</em><![endif]--></a></li>
    {% endif %}


<!-- ----------------------------------------------------------------------------------------------- -->

    {% if site.footer-links.behance %}
    <li><a href="https://www.behance.net/{{ site.footer-links.behance }}" class="icon-3 behance" title="Behance"><svg viewBox="0 0 512 512">
                <path d="M232 237.2c31.8-15.2 48.4-38.2 48.4-74 0-70.6-52.6-87.8-113.3-87.8H0v354.4h171.8c64.4 0 124.9-30.9 124.9-102.9 0-44.5-21.1-77.4-64.7-89.7zM77.9 135.9H151c28.1 0 53.4 7.9 53.4 40.5 0 30.1-19.7 42.2-47.5 42.2h-79v-82.7zm83.3 233.7H77.9V272h84.9c34.3 0 56 14.3 56 50.6 0 35.8-25.9 47-57.6 47zm358.5-240.7H376V94h143.7v34.9zM576 305.2c0-75.9-44.4-139.2-124.9-139.2-78.2 0-131.3 58.8-131.3 135.8 0 79.9 50.3 134.7 131.3 134.7 61.3 0 101-27.6 120.1-86.3H509c-6.7 21.9-34.3 33.5-55.7 33.5-41.3 0-63-24.2-63-65.3h185.1c.3-4.2.6-8.7.6-13.2zM390.4 274c2.3-33.7 24.7-54.8 58.5-54.8 35.4 0 53.2 20.8 56.2 54.8H390.4z" /></svg>
            <!--[if lt IE 9]><em>Behance</em><![endif]--></a></li>
    {% endif %}

    {% if site.footer-links.dribbble %}
    <li><a href="https://dribbble.com/{{ site.footer-links.dribbble }}" class="icon-7 dribbble" title="Dribbble"><svg viewBox="0 0 512 512">
                <path d="M256 8C119.252 8 8 119.252 8 256s111.252 248 248 248 248-111.252 248-248S392.748 8 256 8zm163.97 114.366c29.503 36.046 47.369 81.957 47.835 131.955-6.984-1.477-77.018-15.682-147.502-6.818-5.752-14.041-11.181-26.393-18.617-41.614 78.321-31.977 113.818-77.482 118.284-83.523zM396.421 97.87c-3.81 5.427-35.697 48.286-111.021 76.519-34.712-63.776-73.185-116.168-79.04-124.008 67.176-16.193 137.966 1.27 190.061 47.489zm-230.48-33.25c5.585 7.659 43.438 60.116 78.537 122.509-99.087 26.313-186.36 25.934-195.834 25.809C62.38 147.205 106.678 92.573 165.941 64.62zM44.17 256.323c0-2.166.043-4.322.108-6.473 9.268.19 111.92 1.513 217.706-30.146 6.064 11.868 11.857 23.915 17.174 35.949-76.599 21.575-146.194 83.527-180.531 142.306C64.794 360.405 44.17 310.73 44.17 256.323zm81.807 167.113c22.127-45.233 82.178-103.622 167.579-132.756 29.74 77.283 42.039 142.053 45.189 160.638-68.112 29.013-150.015 21.053-212.768-27.882zm248.38 8.489c-2.171-12.886-13.446-74.897-41.152-151.033 66.38-10.626 124.7 6.768 131.947 9.055-9.442 58.941-43.273 109.844-90.795 141.978z" /></svg>
            <!--[if lt IE 9]><em>Dribbble</em><![endif]--></a></li>
    {% endif %}

    {% if site.footer-links.facebook %}
    <li><a href="https://www.facebook.com/{{ site.footer-links.facebook }}" class="icon-10 facebook" title="Facebook"><svg viewBox="0 0 512 512">
                <path d="M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0 -52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z" /></svg>
            <!--[if lt IE 9]><em>Facebook</em><![endif]--></a></li>
    {% endif %}

    {% if site.footer-links.flickr %}
    <li><a href="https://www.flickr.com/{{ site.footer-links.flickr }}" class="icon-11 flickr" title="Flickr"><svg viewBox="0 0 512 512">
                <path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zM144.5 319c-35.1 0-63.5-28.4-63.5-63.5s28.4-63.5 63.5-63.5 63.5 28.4 63.5 63.5-28.4 63.5-63.5 63.5zm159 0c-35.1 0-63.5-28.4-63.5-63.5s28.4-63.5 63.5-63.5 63.5 28.4 63.5 63.5-28.4 63.5-63.5 63.5z" /></svg>
            <!--[if lt IE 9]><em>Flickr</em><![endif]--></a></li>
    {% endif %}

    {% if site.footer-links.github %}
    <li><a href="https://github.com/{{ site.footer-links.github }}" class="icon-13 github" title="GitHub"><svg viewBox="0 0 512 512">
                <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z" /></svg>
            <!--[if lt IE 9]><em>GitHub</em><![endif]--></a></li>
    {% endif %}

    {% if site.footer-links.instagram %}
    <li><a href="https://instagram.com/{{ site.footer-links.instagram }}" class="icon-15 instagram" title="Instagram"><svg viewBox="0 0 512 512">
                <g>
                    <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" />
                    <circle cx="351.5" cy="160.5" r="21.5" />
                </g>
            </svg>
            <!--[if lt IE 9]><em>Instagram</em><![endif]--></a></li>
    {% endif %}

    {% if site.footer-links.linkedin %}
    <li><a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" class="icon-17 linkedin" title="LinkedIn"><svg viewBox="0 0 512 512">
                <path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z" /></svg>
            <!--[if lt IE 9]><em>LinkedIn</em><![endif]--></a></li>
    {% endif %}

    {% if site.footer-links.pinterest %}
    <li><a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}" class="icon-20 pinterest" title="Pinterest"><svg viewBox="0 0 512 512">
                <path d="M496 256c0 137-111 248-248 248-25.6 0-50.2-3.9-73.4-11.1 10.1-16.5 25.2-43.5 30.8-65 3-11.6 15.4-59 15.4-59 8.1 15.4 31.7 28.5 56.8 28.5 74.8 0 128.7-68.8 128.7-154.3 0-81.9-66.9-143.2-152.9-143.2-107 0-163.9 71.8-163.9 150.1 0 36.4 19.4 81.7 50.3 96.1 4.7 2.2 7.2 1.2 8.3-3.3.8-3.4 5-20.3 6.9-28.1.6-2.5.3-4.7-1.7-7.1-10.1-12.5-18.3-35.3-18.3-56.6 0-54.7 41.4-107.6 112-107.6 60.9 0 103.6 41.5 103.6 100.9 0 67.1-33.9 113.6-78 113.6-24.3 0-42.6-20.1-36.7-44.8 7-29.5 20.5-61.3 20.5-82.6 0-19-10.2-34.9-31.4-34.9-24.9 0-44.9 25.7-44.9 60.2 0 22 7.4 36.8 7.4 36.8s-24.5 103.8-29 123.2c-5 21.4-3 51.6-.9 71.2C65.4 450.9 0 361.1 0 256 0 119 111 8 248 8s248 111 248 248z" /></svg>
            <!--[if lt IE 9]><em>Pinterest</em><![endif]--></a></li>
    {% endif %}

    {% if site.footer-links.stackoverflow %}
    <li><a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}" class="icon-23 stackoverflow" title="StackOverflow"><svg viewBox="0 0 512 512">
                <path d="M290.7 311L95 269.7 86.8 309l195.7 41zm51-87L188.2 95.7l-25.5 30.8 153.5 128.3zm-31.2 39.7L129.2 179l-16.7 36.5L293.7 300zM262 32l-32 24 119.3 160.3 32-24zm20.5 328h-200v39.7h200zm39.7 80H42.7V320h-40v160h359.5V320h-40z" /></svg>
            <!--[if lt IE 9]><em>StackOverflow</em><![endif]--></a></li>
    {% endif %}

    {% if site.footer-links.tumblr %}
    <li><a href="https://{{ site.footer-links.tumblr }}.tumblr.com" class="icon-25 tumblr" title="Tumblr"><svg viewBox="0 0 512 512">
                <path d="M309.8 480.3c-13.6 14.5-50 31.7-97.4 31.7-120.8 0-147-88.8-147-140.6v-144H17.9c-5.5 0-10-4.5-10-10v-68c0-7.2 4.5-13.6 11.3-16 62-21.8 81.5-76 84.3-117.1.8-11 6.5-16.3 16.1-16.3h70.9c5.5 0 10 4.5 10 10v115.2h83c5.5 0 10 4.4 10 9.9v81.7c0 5.5-4.5 10-10 10h-83.4V360c0 34.2 23.7 53.6 68 35.8 4.8-1.9 9-3.2 12.7-2.2 3.5.9 5.8 3.4 7.4 7.9l22 64.3c1.8 5 3.3 10.6-.4 14.5z" /></svg>
            <!--[if lt IE 9]><em>Tumblr</em><![endif]--></a></li>
    {% endif %}

    {% if site.footer-links.twitter %}
    <li><a href="https://www.twitter.com/{{ site.footer-links.twitter }}" class="icon-26 twitter" title="Twitter"><svg viewBox="0 0 512 512">
                <path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" /></svg>
            <!--[if lt IE 9]><em>Twitter</em><![endif]--></a></li>
    {% endif %}

    {% if site.footer-links.youtube %}
    <li><a href="https://youtube.com/{{ site.footer-links.youtube }}" class="icon-28 youtube" title="YouTube"><svg viewBox="0 0 512 512">
                <path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z" /></svg>
            <!--[if lt IE 9]><em>YouTube</em><![endif]--></a></li>
    {% endif %}

</ul>
