/**************/
/* BASE RULES */
/**************/

html {
    font-family: $base-font;
    font-size: $base-font-size;
    background-color: $background-content;
    scroll-behavior: smooth;
}

body {
    color: $base-color;
    line-height: 1.7em;
}

.card-btn {
    font-family: $base-font;
    cursor: pointer;
    border-bottom: 1px solid $divider-color;
    border-width: 50%;
	  margin-top: 10px;
    padding: 5px;
    background: $pagination-bg;
    border-radius: 0;
	  text-align: center;
    transition: border-width 0.25s ease-in-out;
	
	  svg {
	      width: 16px;
		    height: 16px;
		    fill: #999;
		    position: relative;
		    bottom: -2px;
		    right: 2px;
        transition: fill 0.25s ease-in-out;
	  }
	
    &:hover, &:focus {
        border-width: 100%;
        color: $pagination-cl-hv;
        border-bottom: 1px solid $link-color;
        background-color: $pagination-bg;
		
		svg {
		    fill: $link-color;
        transition: fill 0.25s ease-in-out;
		}
        transition: border-width 0.25s ease-in-out;
    }
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
    width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer !important;
    color: $link-color;

    &:hover {
        color: $link-hover-color;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 2em;
    margin: 1em 0 16px;
    padding: 0;

    @include mobile {
        line-height: 1.6em;
    }
}

h1, h2, h3, h5 {
    font-weight: bold;
}

h1 {
    font-size: 30px;

    a {
        color: inherit;
		    cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

img {
    display: block;
    max-width: 100%;
    margin: 0;
    border-radius: 5px;
}

blockquote {
    font-weight: 300;
    padding: 0 0 0 1.4rem;
    margin: 0 2rem 1rem 0;
    border-left: .2em solid $blockquote-border-color;

    p {
        color: $blockquote-color;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.muted {
    color: #666;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 20px;
    color: $base-lighten-color;
}

h6 {
    color: $base-lighten-color;
}

p {
    color: $text-color;
    margin: 1em 0;
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

hr {
    border: 0;
    border-top: 1px solid $divider-color;
    margin: 1.5em auto;
}
