$gap: 30px;
$gap-sm: 20px;
$gap-xsm: 10px;

.blocks-wrapper {
    padding: $gap;
    padding-left: 0;

    @include mobile {
        padding: 0 $gap-sm;
    }
}

.cards {
   -webkit-column-width: 400px;
    column-width: 400px;
   -webkit-column-gap: $gap-sm;
    column-gap: $gap-sm;

    .card {
        margin-bottom: $gap-sm;
        border: 1px solid $divider-color;
        break-inside: avoid;
        /* IE 10+ */
        page-break-inside: avoid;
        /* Firefox */
        -webkit-column-break-inside: avoid;
        /* Chrome, Safari, Opera */

		&:hover {
		    border: 1px solid $link-color;
			
			a {
			    color: $link-color;
			}
		}

        &:last-child {
            margin-bottom: $gap-sm;
        }

        @include mobile {
            margin-bottom: $gap-sm;
        }
    }
	
	.padding {
	    padding: $gap/2;
	}

    &_suggestions {
        padding: 0;
        padding-right: 0;
        
    @include mobile {
            padding: $gap-sm;
            padding-bottom: 0;
        }
    }
}

.cards_suggestions .card {
  margin-bottom: $gap-sm;
}

.card {
    background: #fff;
	border-radius: 8px;
	border-color: $divider-color;

    a {
	    color: $pagination-cl;
        display: block;
        font-size: $base-font-size;
		cursor: pointer;
    }
    img {
	    border-top-right-radius: 5px;
	    border-top-left-radius: 5px;
	    border-bottom-right-radius: 0;
	    border-bottom-left-radius: 0;
        display: block;
        width: 100%;
    }
    .tags {
        margin-bottom: 0;
        font-size: $small-font-size;

        span {
            &::after {
                content: ', ';
            }

            &:last-child::after {
                content: '';
            }
        }
    }
    .title {
        margin: 0;
        font-size: $base-font-size;
        line-height: 1.2;

        a {
            font-weight: inherit;
        }
    }
    .title + p {
        margin-top: 15px;
    }

    p {
        margin-bottom: 0;
        color: #666;
        font-size: $base-font-size;
    }
}
