/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .sidebar
//

.wrapper-sidebar {
    width: 30%;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: $background-color;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 4;
    border-right: 1px solid $divider-color;

    @include mobile {
        width: 100%;
        height: auto;
        padding-bottom: 24px;
        position: relative;
        border-bottom: 1px solid $divider-color;
        border-right: 0;
    }
}

.sidebar {
    padding: 20px 0;

    @include mobile {
        text-align: center;
    }
}

.site-info {
    text-align: center;
    margin: 100px auto 0;

    @include mobile {
        float: none;
        display: block;
        margin: 0 auto;
    }

    .site-avatar {
        margin: 0 auto;
        display: inline-block;
        width: 168px;
        height: 168px;
		border-radius: 50%;
		background: url('/assets/transparent.png');
		background-repeat: no-repeat !important;
		background-position: center !important;
		-webkit-background-size: 100% !important;
		-moz-background-size: 100% !important;
		-o-background-size: 100% !important;
		background-size: 100% !important;
		animation: 1s ease-in-out 0s 1 onload;
        transition: background 1s ease-in-out;

        @include mobile {
            max-width: 120px;
            max-height: 120px;
        }

    }
}

.site-name {
    margin: 0 auto;
    color: $site-name-color;
    cursor: pointer;
    font-family: $base-font;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 1px;

    a:hover,
    &:hover {
        color: $site-name-hover;
    }

}

.site-description {
    margin: 15px auto;
    color: $site-description-color;
    font-size: 16px;

    @include mobile {
        margin: 10px auto;
    }
}

.navlist {
    text-align: center;
}

nav {
    display: block;
    margin-top: 17px;
    font-family: $base-font;
    font-weight: 500;
    font-size: 18px;

    @include mobile {
        margin-top: 9px;
        font-size: 16px;
    }

    a {
        margin: 0 10px;
        text-align: right;
        font-weight: 300;
        letter-spacing: 1px;
        color: $site-nav-color;

        @include mobile {
            margin: 0 10px;
        }

        &:hover {
            color: $nav-hover;
        }
    }
}

.active {
    color: $nav-active;
	border-bottom: 1px solid $nav-active;
}

// content

.wrapper-content {
    float: right;
    background-color: $background-content;
    width: 70%;
    animation: 1s ease-in-out 0s 1 onload;
    -webkit-transition: 1s;
    transition: 0.1s;

    @include mobile {
        float: none;
        width: 100%;
    }
}

// Posts

.posts {

    .tag {
        display: inline;
        font-weight: 300;
        font-size: $small-font-size;

        li:before {
            content: '';
        }

        li {
            display: inline;
            margin: 0;

            > a {
                margin: 3px 3px 3px 0;
                padding: .5px 4px;
                color: $base-color;
                background-color: $tag-index-label-background-color;
                border-radius: 3px;

                &:hover {
                    color: $link-color;
                    background-color: $link-bghv-color;
                }
            }
        }
    }
}

.posts > .post {
    padding-bottom: 2em;
    border-bottom: 1px solid $divider-color;
}

.posts > .post:last-child {
    padding-bottom: 1em;
    border-bottom: none;
}


.pinned .feather-anchor {
    color: $base-lighten-color;
    padding: 2px;
    margin-right: 8px;
}


.date {
    font-weight: 300;
    font-size: $small-font-size;
    color: $base-lighten-color;
    margin-right: 4px;
}

.author {
    font-weight: 700;
    font-size: $small-font-size;
    color: $base-lighten-color;
    margin-right: 4px;
}


.post {

    h1 {
        margin-bottom: .1em;
    }


    .comments {
        margin-top: 10px;
    }

    .read-more {
        font-size: 15px;
        color: $pagination-cl;
        border: 1px solid $divider-color;
        padding: 8px 12px;
        background: $pagination-bg;
        border-radius: 8px;

        &:hover,
        &:focus {
            color: $pagination-cl-hv;
            border: 1px solid $link-color;
            background-color: $pagination-bg;
        }
	
    }
}

.page {
    //  margin: 40px;

    @include mobile {
        //    margin: 24px;
    }
}

@media screen and (max-width:2200px) and (min-width:1200px) {
    .withtoc {
        padding-left: 260px;
    }
}

// pagination

.pagination {
    border-top: 1px solid $divider-color;
    font-weight: 300;
    padding: 40px 0;
    width: 100%;
    display: inline-block;

    @include mobile {
        font-size: $small-font-size;
        padding: 24px 0;
    }

    > .prev {
        float: left;
        width: 50%;

        a {
            color: $pagination-cl;
            border: 1px solid $divider-color;
            padding: 10px 20px;
            background: $pagination-bg;
            border-radius: 8px;

            &:hover,
            &:focus {
                color: $pagination-cl-hv;
                border: 1px solid $link-color;
                background-color: $pagination-bg;
            }
        }

		@media (max-width: 640px) {
            width: 100%;

            a,
            a:hover {
                background-color: transparent;
                border: none;
            }
		}

    }

    > .next {
        float: right;
        text-align: right;
        width: 50%;

        a {
            color: $pagination-cl;
            border-radius: 8px;
            border: 1px solid $divider-color;
            padding: 10px 20px;
            background: $pagination-bg;

            &:hover,
            &:focus {
                color: $pagination-cl-hv;
                border: 1px solid $link-color;
                background-color: $pagination-bg;
            }
        }

		@media (max-width: 640px) {
            width: 100%;

            a,
            a:hover {
                background-color: transparent;
                border: none;
            }
		}
    }
}

// Archive
.archive {
    a {
        color: $base-color;
    }

    time {
        color: $base-lighten-color;
        font-size: $small-font-size;
        font-weight: 300;
        margin-left: 3px;
    }
}

// Tags
.tags > .label {
    > li:before {
        content: "";
    }

    > li {
        margin: 0;
        font-size: $small-font-size;
        font-weight: 300;
        display: inline;

        > a {
            display: inline-block;
            margin: 1px;
            color: $base-color;
            background-color: $tag-index-label-background-color;
            border-radius: 3px;

            &:hover {
                background-color: $link-bghv-color;
            }

            span {
                float: left;
                padding: .5px 5px;

                &.count {
                    background-color: $tag-index-count-background-color;
                    border-radius: 0 3px 3px 0;

                }
            }
        }
    }
}

.tags > .tag {
    a {
        color: $base-color;
    }

    time {
        color: $base-lighten-color;
        font-size: $small-font-size;
        font-weight: 300;
        margin-left: 3px;
    }
}



// Footer
.wrapper-footer-desktop {
    margin-top: 50px;
    border-top: 1px solid $footer-border-color;
    background-color: $footer-background-color;
    position: absolute;
    clear: both;
    width: 100%;
    bottom: 0;

    @include mobile {
        display: none;
    }

}

.wrapper-footer-mobile {
    display: none;

    @include mobile {
        display: block;
        width: 100%;
        border-top: 1px solid $footer-border-color;
        background-color: $footer-background-color;
    }
}

footer {
    padding: 20px 0;
    text-align: center;

    p {
        font-size: $small-font-size;
        color: $footer-text-color;
		
		a {
			border-bottom: 1px solid $footer-text-color;
		}

    }

    .svg-icon {
        display: block;
        font-size: 0;
        list-style: none;
        margin: 0;
        text-align: center;

        li {
            display: inline-block;
            margin: 10px;
        }

        svg {
            height: 24px;
            width: 24px;
            fill: $svg-icons-color;
            transition: fill 0.25s ease-in-out;

            &:hover {
                fill: $nav-active;
                transition: fill 0.25s ease-in-out;
            }
        }

        em {
            font-size: 18px;
            line-height: 1.5;
            margin-top: -.75em;
            position: absolute;
            text-align: center;
            top: 50%;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}