// Yeun's list style
// https://gist.github.com/yeun/d824fc7b04b756508f4b0143535cec30

ol,
ul {
    > li {
        &:before {
            position: absolute;
            width: $li-bullets-width;
            margin-left: -$li-bullets-width;
            display: inline-block;
            box-sizing: border-box;
            text-align: right;
        }
    }
}

ul {
    > li:before {
        content: "\2022";
        padding-right: $ul-bullets-right-space;
        font-family: $ul-bullets-font;
        font-size: $ul-bullets-font-size;
        line-height: $ul-bullets-font-line-height;
    }
}

ol {
    counter-reset: section;

    > li:before {
        counter-increment: section;
        content: counter(section) ".";
        padding-right: $ol-bullets-right-space;
        font-family: $ol-bullets-font;
        font-size: $ol-bullets-font-size;
        line-height: $ol-bullets-font-line-height;
    }
}

ol,
ul {
    > li {
        margin: 0 auto $li-bottom-space $li-bullets-width;
        line-height: $li-line-height;

        > ol,
        > ul {
            margin-top: $li-bottom-space;
        }
    }
}

li {

    > ol,
    > ul {
        > li {
            font-size: ($li-child-size-ratio * 1em);
            margin: 0 auto ($li-bottom-space * $li-child-size-ratio) ($li-bullets-width * $li-child-size-ratio);
        }
    }
}

// Definition list
dt {
    float: left;
    width: $dt-width;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    clear: left;
    text-align: right;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: $li-bottom-space;

    @include mobile {
        width: 120px;
    }
}

dd {
    margin-left: $dd-position;
    margin-bottom: $li-bottom-space;

    @include mobile {
        margin-left: 140px;
    }
}
