
//
// VARIABLES
//

$blue: $oc-teal-8;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Fonts
$base-font: "PT Sans Narrow", sans-serif;
$code-font: 'Menlo', 'Courier New', 'Monaco', 'Spoqa Han Sans', monospace;

// Font sizes
$base-font-size: 18px;
$small-font-size: 16px;

// Colors
$base-color: #666;
$base-lighten-color: $oc-gray-6;
$base-lightener-color: $oc-gray-3;

$site-name-color: #eee;
$site-name-hover: #fff;
$site-description-color: #ccc;
$site-nav-color: #fff;

$svg-icons-color: #ccc;

$background-color: #444; //  #4F5A6E
$background-lighten-color: hsla(210, 50%, 98%, 0.42);
$background-content: #fafbfc;

$nav-active: #FFC857;
$nav-hover: #ffd166;

$text-color: $base-color;
$link-color: #d3576c;
$link-hover-color: #d3576c;
$link-lighten-color: #FFC857;
$link-bghv-color: #e5e5e5;
$divider-color: $oc-gray-3;

$pagination-cl: #333;
$pagination-bg: #fff;
$pagination-cl-hv: #d3576c;
$pagination-bg-hv: transparent;

$error-color:$oc-red-8;

$table-border-color: $oc-gray-2;
$table-background-color: $oc-gray-1;

$blockquote-color: $base-lighten-color;
$blockquote-border-color: $oc-gray-3;

$footnote-link-border-color: $oc-gray-1;
$footnote-link-background-over-color: $oc-gray-1;

$selection-color: #2a9d8f;
$selection-background-color: rgba(255, 255, 255, 0.7);

$tag-index-label-background-color: $oc-gray-1;
$tag-index-count-background-color: hsla(0, 7%, 56%, 0.102);

$footer-border-color: #3d3d3d; // #353c3d
$footer-background-color: #333; // #303B44
$footer-text-color: #bbb;

// List
$li-bottom-space: 0.4em;
$li-bullets-width: 1.4em;
$li-line-height: 1.55;

$ul-bullets-font: inherit;
$ul-bullets-font-size: 0.75em;
$ul-bullets-font-line-height: 2.15;
$ul-bullets-right-space: .5em;

$ol-bullets-font: inherit;
$ol-bullets-font-size: 0.9em;
$ol-bullets-font-line-height: 1.75;
$ol-bullets-right-space: .5em;

$li-child-size-ratio: 0.95;

$dt-width: 180px;
$dt-dd-space: 20px;
$dd-position: $dt-width+$dt-dd-space;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 1200px) {
    @content;
  }
}