---
layout: default
title: Проекты
permalink: /projects/
---

<div class="typo">
    <h1>{{ page.title }}</h1>
</div>

<div class="blocks-wrapper">

	<div class="cards">

		{% for project in site.data.projects%}
			{% include card.html
				tag="h2"
				image=project.image
				code=project.git
				link=project.url
				title=project.title
				description=project.description %}
		{% endfor %}
	</div>

</div>