---
layout: compress
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include nav.html %}

    <span class="pubdate" datetime="{{ post.date | date: '%Y-%m-%d' }}">
        {% assign m = post.date | date: "%-m" %}
        {{ post.date | date: "%-d"  }}
        {% case m %}
        {% when '1' %}января
        {% when '2' %}февраля
        {% when '3' %}марта
        {% when '4' %}апреля
        {% when '5' %}мая
        {% when '6' %}июня
        {% when '7' %}июля
        {% when '8' %}августа
        {% when '9' %}сентября
        {% when '10' %}октября
        {% when '11' %}ноября
        {% when '12' %}декабря
        {% endcase %}
        {{ post.date | date: "%Y"}}
    </span>

    <div id="main" role="main" class="wrapper-content">
        <div class="container">
            {{ content }}
        </div>
    </div>
	
</body>

<div class="wrapper-footer-mobile">
    <footer class="footer">
        {% include footer.html %}
    </footer>
</div>

{% include scroller.html %}
{% include script.html %}

</html>
