---
layout: default
---

{% if site.posts.size == 0 %}
<h2>Здесь пока ничего нет.</h2>
{% endif %}

<article class="posts">
    <h1>
        {% if page.url contains 'blog' %}
        <a href="{{ site.baseurl }}/">Заметки</a>
        {% endif %}
        {% if page.url contains 'pastebin' %}
        <a href="{{ site.baseurl }}/pastebin">Pastebin</a>
        {% endif %}
        / <span class="muted">{{ page.title }}</span>
    </h1>
    <div class="meta">
        <span class="author">
            {{ page.author }}
        </span>
        <span class="date" datetime="{{ page.date | date: '%Y-%m-%d' }}">
            {% assign m = page.date | date: "%-m" %}
            {{ page.date | date: "%-d"  }}
            {% case m %}
            {% when '1' %}января
            {% when '2' %}февраля
            {% when '3' %}марта
            {% when '4' %}апреля
            {% when '5' %}мая
            {% when '6' %}июня
            {% when '7' %}июля
            {% when '8' %}августа
            {% when '9' %}сентября
            {% when '10' %}октября
            {% when '11' %}ноября
            {% when '12' %}декабря
            {% endcase %}
            {{ page.date | date: "%Y"}}
        </span>

        <ul class="tag">
            {% for tag in page.tags %}
            <li>
                <a href="{{ site.url }}{{ site.baseurl }}/tags/{{ tag }}">
                    #{{ tag }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="entry">
        {{ content }}
    </div>
</article>

<div class="pagination">
    {% if page.previous_in_category != nil %}
    <span class="prev">
        <a href="{{ page.previous_in_category.url }}">← {{ page.previous_in_category.title }}</a>
    </span>
    {% endif %}

    {% if page.next_in_category != nil %}
    <span class="next">
        <a href="{{ page.next_in_category.url }}"> {{ page.next_in_category.title }} →</a>
    </span>
    {% endif %}
</div>

{% include related.html %}
<br />
