---
layout: default
---

<article class="posts">
    <h1>{{ page.title }}</h1>
    <div clsss="meta">
        <span class="author">
            {{ page.author }}
        </span>
        <span class="date">
            {{ page.date | date: "%Y-%m-%d" }}
        </span>
        <ul class="tag">
            {% for tag in page.tags %}
            <li>
                <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
                    {{ tag }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="entry">
        {{ content }}
    </div>
</article>