---
layout: default
---

<h1><a href="/tags/">Теги</a> / {{ page.tag }}</h1>

<div>
   {% if site.tags[page.tag] %}
        <ul>
        {% for post in site.tags[page.tag] %}
			{% if post.title != null %}
			  <li>
				<span class="date" datetime="{{ post.date | date: '%Y-%m-%d' }}">
						{% assign m = post.date | date: "%-m" %}
						{{ post.date | date: "%-d"  }}
							{% case m %}
							  {% when '1' %}января
							  {% when '2' %}февраля
							  {% when '3' %}марта
							  {% when '4' %}апреля
							  {% when '5' %}мая
							  {% when '6' %}июня
							  {% when '7' %}июля
							  {% when '8' %}августа
							  {% when '9' %}сентября
							  {% when '10' %}октября
							  {% when '11' %}ноября
							  {% when '12' %}декабря
							{% endcase %}
						{{ post.date | date: "%Y"}}
				</span>
				{% if post.link %}
				  <a href="{{ post.link }}">
				{% else %}
				  <a href="{{ site.baseurl }}{{ post.url }}">
				{% endif %}
					{{ post.title }}
				  </a>
			  </li>
			{% endif %}
        {% endfor %}
		</ul>
    {% else %}
        <p>Нет постов в данной категории.</p>
    {% endif %}
</div>
